<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Registration</title>
</head>

<body bgcolor="darkgray">
    <h1 style="text-align: center;">Student Registration Form</h1>
    <div style="position: absolute; top:200px; left:600px;">
        <form action="student_info">
            <b>Enter Name:</b><br> <input type="text" name="name"><br>
            <b>Enter ID:</b><br> <input type="text" name="id"><br>
            <b>Enter Section:</b><br> <input type="text" name="section"><br>
            <b>Enter Department:</b><br> <input type="text" name="department"><br>
            <b>Enter payment:</b><br> <input type="text" name="payment"><br>
            <br>
            <input type="submit" style="cursor: pointer;">

        </form>
    </div>
</body>

</html>