
{% extends "layout.html" %} 
{% block body %}



    <h1 style="text-align: center;"><br>Delete Profile<br><br><br></h1>
    <div class="centerr">
        <form action="del_id">
            <div class="form-group ">
            <div class="form-row">
                <label>Enter ID </label>
             <input type="text" placeholder="123-45-67890" class="form-control" name="id"><br>
            <br>
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
    </div>

        </form>
    </div>
   
{% endblock %}