<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=q, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {
        text-align: center;
        text-decoration: underline;
        font-family: 'Courier New';
        color: rgb(48, 13, 13);
    }
    .del_reg{
        position:absolute;
        top: 200px;
        left: 500px;
       
    }
</style>

<body bgcolor="lightslategray">
    <h1>Delete Registration</h1>
    <div class="del_reg">
        <form action="del_id">
            <b>Enter ID:</b><br> <input type="text" name="id"><br>
            <br>
            <input type="submit" style="cursor: pointer;">

        </form>
    </div>
</body>

</html>