<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    .form{
        position:absolute;
        left: 400px;
        top:250px;
        width: 1000px;
        height: 20px;
       
    }
    .form button{
        padding: 10px;
        float:left;
        margin-left: 5px;
        background-color: orchid;
        border-radius: 5px;
        cursor: pointer;    
    }
    .form button:hover{
        background-color: tomato;
        transition-duration: .3s;
    }

</style>

<body bgcolor="mistyrose">
    <h1 style="text-align: center; color:rgb(146, 4, 151)">Hello Mukit</h1>
    <div class="form">
        <form action="show_info">
            <button inputmode="button" >
                <b> Add Registration</b>

            </button>
        </form>
        <form action="search_info">
            <button inputmode="button" >
                <b>Search Information</b>

            </button>
        </form>
        <form action="show_all_students">
            <button inputmode="button" >
                <b>Show All Students</b>

            </button>
        </form>
        <form action="del_registration">
            <button inputmode="button" >
                <b>Delete Registration</b>

            </button>
        </form>
    </div>
</body>

</html>