<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Inforamtion</title>
</head>

<body bgcolor="silver">

    <h1 style="text-align: center;">Search By ID</h1>
    <div style="position: absolute; top:200px; left:600px;">
        <form action="single_info">
            <b>Enter ID:</b><br> <input type="text" name="id"><br>
            <br>
            <input type="submit" style="cursor: pointer;">
        </form>
    </div>
</body>

</html>