<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Info</title>
</head>

<body bgcolor="plum">
    <h2>You are Looking For:</h2>
    {% if id not in id_list %}
    <h2 style="font-family: arial;">Student Not Registered or invalid ID</h2>
    {% else %}
    {% for key,value in info.items %}
    <h3 style="font-family: arial;">{{key}} : {{value}}</h3>
    {% endfor %}
    {% endif %}
</body>

</html>